body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ddd;
    text-align: center;
}

/* NAVBAR */
.navbar {
    background: #5fd37a;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

.btn {
    background: #eee;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

/* CONTENT */
.container {
    margin-top: 50px;
}

h1, h2 {
    color: #333;
}

.card {
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    background: white;
    border-radius: 10px;
}

/* BUTTONS */
.big-btn {
    display: block;
    margin: 15px auto;
    padding: 12px;
    width: 250px;
    background: #6b5b5b;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.input {
    width: 250px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: none;
}

.green-btn {
    background: #5fd37a;
    border: none;
    padding: 10px;
    width: 260px;
    border-radius: 20px;
}